doctype html
html
    head
        title #{title}
    body
        h1 Index
        div todos
            <br>
            a(href='/users') Voir les utilisateurs
            <br>
            a(href='/todos/add') Ajouter une tache
        ul
            each todo in todos
                li #{todo.dataValues.message}, Completion = #{todo.dataValues.completion},
                        a(href='/todos/' + todo.dataValues.id + '/edit') Editer
                        <br>
                        a(href='/todos/' + todo.dataValues.id) Afficher
                        form(method='POST' action='/todos/' + todo.dataValues.id + '?_method=DELETE')
                            button.btn.btn-primary(type='submit') Supprimer